header{
  display : flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.logoimg {
  width: 25%;
  height: 25%;
}
nav{
  display: inline-block;
  font-size: 1.5em;
  word-spacing: 50px;
  margin-right: 50px;
}
nav a{
  text-decoration: none;
  color: rgb(7, 177, 245);
  font-weight: bold;
}
#home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw;
  margin: 20px auto;
  margin-top: 90px;
  background-image: url(images/backhome.jpg);
  background-size: cover;
  /*border-radius: 50px;
  overflow: hidden;*/
  margin-bottom: 50px;
}
.text{
  background-color: rgb(240, 248, 255,0.8);
  border-radius: 10px;
  width: 50%;
  height: 50%;
}
.text h1 span{
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
  color:  rgb(7, 177, 245);
}
.text h1{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
}
.text h2{
  align-items: center;
  margin-top: -35px;
  /*margin-left: 40px;
  margin-bottom: -10px;*/
  font-size: 30px;
  color: rgb(67, 186, 67);
}
.text h5:hover{
  background-color: rgb(226, 226, 43);
}
.text h5 a:hover{
  color: black;
}
.text h5{
  display: inline-flex;
  /*margin-left: 80px; */ 
  background-color: rgb(7, 177, 245);
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  margin-inline-start: 10px;
  margin-inline-end: 40px;
  margin-top: -30px;
  padding: 5px 10px; 
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.text h5 a{
  text-decoration: none;
  color: white;
}
body{
  background-color: rgb(15, 77, 146,0.5);
}
#readmore span{
  font-family: "LXGW WenKai TC", cursive;
  font-style: normal;
  color:  rgb(7, 177, 245);
  background-color: white;
}
#readmore {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: rgb(15, 77, 146,0.6);
  width: 85.5vw;
  margin: 0 auto;
  padding: 5px;
  border-radius: 16px;
  margin-top: -10px;
}
#readmore h3{
  font-family: "Playfair Display", serif;
  color: yellow;
 
}
#readmore h4{
  font-family: "Playfair Display", serif;
  color: rgb(2, 247, 2);
}
#readmore .p1{
  width: 85vw;
  background-color: rgb(240, 248, 255,0.1);
  margin: 0 auto;
  padding: 5px;
  border-radius: 15px;
  overflow: hidden;
  word-spacing: 10px;
}
#readmore .p2{
  width: 85vw;
  background-color: rgb(240, 248, 255,0.1);
  margin: 0 auto;
  padding: 5px;
  border-radius: 15px;
  overflow: hidden;
  word-spacing: 10px;
  margin-top: 10px;
}
#readmore .p3{
  width: 85vw;
  background-color: rgb(240, 248, 255,0.1);
  margin: 0 auto;
  padding: 5px;
  border-radius: 15px;
  overflow: hidden;
  word-spacing: 10px;
  margin-top: 10px;
}
#readmore .p4{
  width: 85vw;
  background-color: rgb(240, 248, 255,0.1);
  margin: 0 auto;
  padding: 5px;
  border-radius: 15px;
  overflow: hidden;
  word-spacing: 10px;
  margin-top: 10px;
}