header{
  display : flex;
  justify-content: space-between;
  align-items: center;
  background-color:aliceblue;
  background-image: url(images/pngimg.com\ -\ world_map_PNG28.png);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.logoimg {
  width: 25%;
  height: 25%;
}
nav{
  display: inline-block;
  font-size: 1.5em;
  word-spacing: 50px;
  margin-right: 50px;
}
nav a{
  text-decoration: none;
  color: rgb(7, 177, 245);
  font-weight: bold;
}
#home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%;
  margin: 20px auto;
  margin-top: 90px;
  background-image: url(images/backhome.jpg);
  background-size: cover;
  /*border-radius: 50px;
  overflow: hidden;*/
  margin-bottom: 50px;
}
.text{
  background-color: rgb(240, 248, 255,0.8);
  border-radius: 10px;
  width: 50%;
  height: 50%;
}
.text h1 span{
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 400;
  font-style: normal;
  color:  rgb(7, 177, 245);
}
.text h1{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
}
.text h2{
  align-items: center;
  margin-top: -35px;
  /*margin-left: 40px;
  margin-bottom: -10px;*/
  font-size: 30px;
  color: rgb(0, 0, 0);
}
.text h5:hover{
  background-color: rgb(226, 226, 43);
}
.text h5 a:hover{
  color: black;
}
.text h5{
  display: inline-flex;
  /*margin-left: 80px; */ 
  background-color: rgb(7, 177, 245);
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  margin-inline-start: 10px;
  margin-inline-end: 40px;
  margin-top: -30px;
  padding: 5px 10px; 
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.text h5 a{
  text-decoration: none;
  color: white;
}
body{
  background-color: rgb(15, 77, 146,0.5);
}
#readmore span, #about p span{
  font-family: "LXGW WenKai TC", cursive;
  font-style: normal;
  color:  rgb(7, 177, 245);
  background-color: white;
}
#readmore, #about .abb{
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: rgb(15, 77, 146,0.9);
  width: 85.5vw;
  margin: 0 auto;
  padding: 5px;
  border-radius: 16px;
  margin-top: -10px;
  background-image: url(images/pngimg.com\ -\ world_map_PNG28.png);
  overflow: hidden;
}
#readmore h3{
  font-family: "Playfair Display", serif;
  color: yellow;
}
#readmore h4{
  font-family: "Playfair Display", serif;
  color: rgb(2, 247, 2);
}
#readmore .p1{
  width: 85vw;
  background-color: rgb(240, 248, 255,0.1);
  margin: 0 auto;
  padding: 5px;
  border-radius: 15px;
  overflow: hidden;
  word-spacing: 10px;
}
#readmore .p2, #readmore .p3, #readmore .p4{
  width: 85vw;
  background-color: rgb(240, 248, 255,0.1);
  margin: 0 auto;
  padding: 5px;
  border-radius: 15px;
  overflow: hidden;
  word-spacing: 10px;
  margin-top: 10px;
}
#about h1{
  display: flex;
  color: white;
  background-color: rgb(15, 77, 146,0.6);
  padding: 0px 90px;
  background-size: 100%;
  background-position-x: 0;
}
#about .abt1, #about .abt3{
  display: flex;
  width: 85vw;
  background-color: rgb(240, 248, 255,0.1);
  padding: 5px;
  border-radius: 15px;
  overflow: hidden;
  font-size: 30px;
  margin: 0 auto;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}
#about .abt1 p, #about .abt2 p, #about .abt3 p, #about .abt4 p{
  margin-top: 60px;
  margin-inline-start: 20px;
}
#about .abt2, #about .abt4{
  display: flex;
  flex-direction: row-reverse;
  width: 85vw;
  background-color: rgb(240, 248, 255,0.1);
  padding: 5px;
  border-radius: 15px;
  overflow: hidden;
  font-size: 30px;
  margin: 0 auto;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}
#about img{
  border-radius: 30px;
}
#services h1{
  display: flex;
  color: white;
  background-color: rgb(15, 77, 146,0.6);
  padding: 0px 90px;
  background-size: 100%;
  background-position-x: 0;
}
#services .ser1, #services .s2, #services .s3{
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 248, 255,0.1);
  font-family: "Roboto", sans-serif;
  width: 25%;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 10px;
}
#services img{
  margin-top: 10px;
  border-radius: 20px;
}
#services h3{
  margin-top: 5px;
  color: yellow;
}
#services .sb{
  display: flex;
  justify-content: space-around;
  background-color: rgb(15, 77, 146,0.9);
  width: 85.5vw;
  margin: 0 auto;
  padding: 5px;
  border-radius: 16px;
  background-image: url(images/pngimg.com\ -\ world_map_PNG28.png);
  overflow: hidden;
}
